.regularExpressionsPluginP {
        margin: 0;
        color: #777;
        padding-left: 10px;
        margin-top: 4px;
}

.w {
    width: 85%;
}

.w2 {
    width: 75%;
}

.w3 {
    width: 70%;
}

a, a:visited {
    color: #66f;
}

.hover,
.hover *
{
    color: #aaa;
}

.hover * {
    background-color: #eee;
}

.hover:hover,
.hover:hover *
{
    color: #444;
}

.zero-margin-bottom {
    margin-bottom: 0px;
}

.zero-margin-top {
    margin-top: 0px;
}

.info {
    color: #777;
    margin-left: 15px;
}

.description {
    margin-top: 9px;
    display: inline-block;
    vertical-align: top;
}
