input[type=text] {
    width: 760px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    margin-top: -24px;
    margin-right: 5px;
    margin-left: 36px;
    font-family: courier;
}

input#result {
    color: red;
}

#count {
    margin: 8px;
}

.group {
    padding: 4px;
    margin: 2px;
}

div.container {
    height: 24px;
}

.input-holder {
    height: 24px;
    background-color: #fcc;
    background-repeat: no-repeat;
    background-position: left center;
    width: auto;
    display: inline-block;
}

.clear-btn {
    background-image: url("../img/clear.png");
}

.cmpr-btn {
    background-image: url("../img/compare.png");
}

.hover,
.hover *
{
    color: #aaa;
}

.hover:hover,
.hover:hover *
{
    color: #444;
}

#txt {
    margin-top: 2px;
    width: 800px;
    height: 100px;
}

#ignoreCase {
    margin-top: 10px;
}