input[type=text] {
    width: 760px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    margin-top: -4px;
    margin-right: 5px;
    font-family: courier;
}

input#result {
    color: red;
}

#count {
    margin: 8px;
}

.group {
    padding: 4px;
    margin: 2px;
    width: 80%;
}

.group2 {
    margin-top: 2px;
    background-color: #d9d9d9;
    padding: 5px;
}

div.container {
    height: 24px;
}

.input-holder {
    background-color: #fcc;
    background-repeat: no-repeat;
    background-position: left center;
    width: auto;
    display: inline-block;
    padding-top: 3px;
}

.clear-btn {
    background-image: url("../img/clear.png");
    background-size: 18px;
}

.clear-btn-img {
    height: 14px;
    margin-top: -2px;
    vertical-align: middle;
    left: -5px;
    position: relative;
}

.q {
    width: 18px;
    height: 18px;
    display: inline-block;
}

.cmpr-btn {
    background-image: url("../img/compare.png");
    background-size: 18px;
}

.color,
.color *
{
    color: #444;
}

#txt {
    margin-top: 2px;
    height: 300px;
    width: 100%;
}

#ignoreCase {
    margin-top: 10px;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 0;
    border-top: 1px solid #ccc;
}