@font-face {
    font-family: clockFont;
    src: url("../Fonts/LCDAT&TPhoneTimeDate.ttf");
}

p {
    margin: 0;
    /*font-weight: bold;*/
}

#txtInput {
    width: 100%;
    /* height: 120px; */
}

.comment {
    font-size: 85%;
    color: #777;
}