textarea {
    width: 1200px;
    height: 200px;
}

@font-face {
    font-family: clockFont;
    src: url("../Fonts/LCDAT&TPhoneTimeDate.ttf");
}

p {
    margin: 0;
}

#txtInput {
    width: 100%;
}

.comment {
    font-size: 85%;
    color: #777;
}

.clock {
    width: 155px;
    font-family: 'clockFont', sans-serif;
    font-size: 32pt;
    background-color: black;
    color: lime;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}

.counter {
    font-size: 48pt;
    padding: 10px 40px;
    margin: 12px 0px;
}

#counterInitialValue {
    width: 40px;
}

.clr-btn {
	font-weight: bold;
	color: red;
}

.colored-div {
    height: 50px;
    width: 200px;
    margin: 4px;
}

.color-ruler {
    width: 280px;
}

#colorList {
    width: 800px;
}
