textarea {
    width: 1200px;
    height: 200px;
}

@font-face {
    font-family: clockFont;
    src: url("../Fonts/LCDAT&TPhoneTimeDate.ttf");
}

p {
    margin: 0;
}

#txtInput {
    width: 100%;
}

.comment {
    font-size: 85%;
    color: #777;
}

.clock {
    width: 155px;
    font-family: 'clockFont', sans-serif;
    font-size: 32pt;
    background-color: black;
    color: lime;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0px;
}